h1.title {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

h2.sub-heading {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

h5.card-title {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

p.card-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}